.notification-icon12 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b15 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count2 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet14 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet13 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon13 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header13 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.boosters {
  position: relative;
}
.wallet10 {
  align-self: stretch;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.auto-miner,
.refer-friends-to {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.auto-miner {
  display: inline-block;
  height: 24px;
}
.refer-friends-to {
  height: 32px;
}
.httpsrisingcoinxyzrefant-wrapper,
.refer-friends-to,
.referal-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.referal-text {
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-8xs);
}
.httpsrisingcoinxyzrefant-wrapper {
  width: 237px;
  flex-direction: row;
}
.frame-child1,
.rectangle-div {
  width: 11.9px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9px);
  left: calc(50% - 8px);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  height: 13.5px;
  z-index: 0;
}
.frame-child1 {
  top: calc(50% - 5.4px);
  left: calc(50% - 6.1px);
  z-index: 1;
}
.frame-parent3,
.rectangle-parent1 {
  border-radius: var(--br-3xs);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.rectangle-parent1 {
  width: 64px;
  background-color: var(--color-gray-300);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-8xs);
  position: relative;
  gap: var(--gap-4xs);
}
.frame-parent3 {
  width: 310px;
  background-color: var(--color-darkslategray-200);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-silver-200);
}
.referal-frame {
  width: 353px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen-200);
  height: 162px;
  gap: var(--gap-3xs);
}
.footer-frame,
.home-referral,
.referal-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-referral {
  width: 344px;
  height: 112px;
}
.footer-frame {
  height: 110px;
}
.footer-start-frame,
.mining-frame {
  align-self: stretch;
  align-items: center;
  box-sizing: border-box;
}
.footer-start-frame {
  border-radius: var(--br-3xs);
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  text-align: center;
  color: var(--typography-colors-light-grey);
  font-family: var(--font-inter);
}
.mining-frame {
  background-color: var(--color-black);
  height: 969px;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-sm);
  text-align: left;
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
.boast,
.home-body-frame,
.mining-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-body-frame {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.boast {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
