.menu-icon16 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.notification-icon16 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.connect16 {
  width: 77.2px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 39px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet20 {
  width: 90px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
}
.profile-icon18 {
  width: 38.1px;
  position: relative;
  height: 38px;
}
.header18 {
  align-self: stretch;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
}
.header18,
.instruction-frame15,
.timing-for-creation5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.instruction-frame15 {
  flex: 1;
  height: 40px;
  justify-content: center;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.timing-for-creation5 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-8xs);
}
.do-not-click-on-confirm-paymen {
  font-weight: 600;
  color: var(--color-indianred-100);
}
.note-do-not-container {
  flex: 1;
  position: relative;
}
.instruction-frame17 {
  align-self: stretch;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.cancel-deposit1 {
  position: relative;
}
.cancel-order4,
.coin-overview-and-transactions14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--h5-size);
  color: var(--color-indianred-100);
}
.coin-overview-and-transactions14 {
  background-color: var(--color-gray-500);
  flex-direction: column;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.deposit-fiat-confirm-pay,
.wallet-body-frame15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-body-frame15 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.deposit-fiat-confirm-pay {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-500);
  height: 800px;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-whitesmoke-300);
  font-family: var(--font-inter);
}
