.notification-icon35 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b30 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count11 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet48 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet47 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon39 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header39 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.introduction-to-trading {
  position: relative;
}
.wallet30 {
  align-self: stretch;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--h5-size);
}
.perform-this-task,
.referal-text6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.perform-this-task {
  width: 298.1px;
  position: relative;
  height: 32px;
  flex-shrink: 0;
}
.referal-text6 {
  width: 328px;
  overflow: hidden;
  flex-direction: column;
}
.referal-frame6 {
  width: 353px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen-200);
  height: 162px;
}
.footer-frame6,
.footer-start-frame9,
.home-referral6,
.referal-frame6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-referral6 {
  width: 336px;
  border-radius: var(--br-11xl);
  height: 112px;
}
.footer-frame6,
.footer-start-frame9 {
  border-radius: var(--br-3xs);
  height: 111px;
}
.footer-start-frame9 {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--typography-colors-light-grey);
  font-family: var(--font-inter);
}
.complete-task-and,
.watch-video-complete {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.complete-task-and {
  align-self: stretch;
  height: 36px;
}
.watch-video-complete {
  width: 314px;
  height: 30px;
}
.footer-start-frame10 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.div120 {
  width: 26px;
  position: relative;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.footer-start-frame11,
.mining-frame8 {
  align-items: center;
  box-sizing: border-box;
}
.footer-start-frame11 {
  width: 136px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-xs);
}
.mining-frame8 {
  align-self: stretch;
  background-color: var(--color-black);
  height: 760px;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
  text-align: left;
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
.home-body-frame5,
.mining-frame8,
.start-task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-body-frame5 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.start-task {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 874px;
  overflow-y: auto;
  align-items: center;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
