.notification-icon37 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b32 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count13 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet52 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet51 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon41 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header41 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.your-rank {
  position: relative;
}
.wallet45 {
  align-self: stretch;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.profile-icon42 {
  width: 38.1px;
  position: relative;
  height: 38px;
  z-index: 0;
}
.wallet46 {
  flex: 1;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.openmojiflag-nigeria-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet-parent1,
.wallet47 {
  display: flex;
  flex-direction: row;
}
.wallet47 {
  height: 20px;
  align-items: center;
  justify-content: center;
}
.wallet-parent1 {
  width: 105px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 0;
  font-size: var(--font-size-sm);
}
.wallet48 {
  width: 98px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.wallet-parent2,
.wallet48,
.wallet49 {
  display: flex;
  flex-direction: row;
}
.wallet49 {
  width: 58px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.wallet-parent2 {
  width: 272px;
  height: 38px;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}
.frame-parent24,
.wallet51 {
  display: flex;
  justify-content: center;
}
.wallet51 {
  width: 29px;
  margin: 0 !important;
  position: absolute;
  top: -6.5px;
  left: 129.9px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  height: 29px;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}
.frame-parent24 {
  width: 289px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-8xs);
  z-index: 1;
}
.lvl-bronze {
  width: 68px;
  position: relative;
  display: inline-block;
}
.profile-parent,
.wallet52 {
  display: flex;
  align-items: center;
}
.wallet52 {
  width: 73px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 259px;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.profile-parent {
  width: 332px;
  height: 68px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-6xs);
}
.footer-start-frame17 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 92px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.leaders-board {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  display: inline-block;
  height: 36px;
  flex-shrink: 0;
}
.antony-eyo {
  flex: 1;
  position: relative;
}
.wallet-parent5,
.wallet60 {
  display: flex;
  flex-direction: row;
}
.wallet60 {
  width: 76px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.wallet-parent5 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 0;
  font-size: var(--font-size-sm);
}
.mining-frame10 {
  align-self: stretch;
  background-color: var(--color-black);
  height: 721px;
  align-items: center;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
.home-body-frame7,
.leader-board-profile,
.mining-frame10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-body-frame7 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.leader-board-profile {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 874px;
  overflow-y: auto;
  align-items: center;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
