.mask-group-icon {
  position: absolute;
  height: 64%;
  width: 97.75%;
  top: 20.75%;
  right: 12.5%;
  bottom: 15.25%;
  left: -10.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-mdspeed-loop {
  width: 100%;
  position: relative;
  height: 40px;
  overflow: hidden;
}
