.notification-icon36 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b31 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count12 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet50 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet49 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon40 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header40 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.current-circulating-balance {
  flex: 1;
  position: relative;
}
.wallet31 {
  align-self: stretch;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div121 {
  position: relative;
}
.wallet32 {
  flex: 1;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.frame-wrapper,
.wallet-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wallet-wrapper2 {
  width: 329px;
  height: 22px;
  flex-direction: row;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
}
.footer-start-frame-inner {
  width: 332px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-start-frame12,
.wallet33 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.footer-start-frame12 {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.wallet33 {
  height: 35px;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}
.wallet35 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 28px;
  z-index: 1;
}
.frame-parent20 {
  width: 332px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-6xs);
}
.flowbiteusers-outline-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.mining-frame9 {
  align-self: stretch;
  background-color: var(--color-black);
  height: 688px;
  align-items: center;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--h5-size);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
.home-body-frame6,
.mining-frame9,
.stats-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-body-frame6 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.stats-profile {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 874px;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
