.notification-icon40 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b43 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count16 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet58 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet57 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon49 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header44 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.introduction-to-trading1 {
  position: relative;
}
.wallet84 {
  align-self: stretch;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--h5-size);
}
.perform-this-task1,
.referal-text8 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.perform-this-task1 {
  width: 298.1px;
  position: relative;
  height: 32px;
  flex-shrink: 0;
}
.referal-text8 {
  width: 328px;
  overflow: hidden;
  flex-direction: column;
}
.referal-frame8 {
  width: 353px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen-200);
  height: 162px;
}
.footer-frame8,
.home-referral8,
.referal-frame8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-referral8 {
  width: 336px;
  border-radius: var(--br-11xl);
  height: 112px;
}
.footer-frame8 {
  border-radius: var(--br-3xs);
  height: 111px;
}
.complete-task-and1,
.footer-start-frame24 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  flex-shrink: 0;
}
.footer-start-frame24 {
  border-radius: var(--br-3xs);
  height: 111px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--typography-colors-light-grey);
  font-family: var(--font-inter);
}
.complete-task-and1 {
  position: relative;
  display: inline-block;
  height: 36px;
}
.footer-start-frame25 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.span7 {
  color: var(--color-lightseagreen-100);
}
.according-to-445-container {
  width: 314px;
  position: relative;
  display: inline-block;
  height: 30px;
  flex-shrink: 0;
}
.footer-start-frame26 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 90px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.material-symbolscircle-outlin-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.material-symbolscircle-outlin-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.long-term-position {
  width: 275px;
  position: relative;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.long-term-position-wrapper {
  width: 289px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-start-frame27,
.frame-parent37 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frame-parent37 {
  width: 314px;
  flex-direction: row;
}
.footer-start-frame27 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 175px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.check-answer-once {
  width: 114px;
  position: relative;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.footer-start-frame28,
.mining-frame14 {
  align-items: center;
  box-sizing: border-box;
}
.footer-start-frame28 {
  width: 136px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  cursor: pointer;
}
.mining-frame14 {
  align-self: stretch;
  background-color: var(--color-black);
  height: 760px;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
.home-body-frame10,
.mining-frame14,
.task-quiz {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-body-frame10 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.task-quiz {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 827px;
  overflow-y: auto;
  align-items: center;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
