.notification-icon27 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b24 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count6 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet34 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet33 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon30 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header30 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.rising-coin-trading {
  position: relative;
}
.wallet17 {
  align-self: stretch;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.partners-task,
.social-task {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.partners-task {
  display: inline-block;
  height: 24px;
}
.social-task {
  display: flex;
  align-items: center;
  height: 25px;
}
.mingcuteyoutube-line-icon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet18,
.wallet19 {
  display: flex;
  align-items: center;
}
.wallet18 {
  width: 38px;
  height: 30px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
}
.wallet19 {
  height: 20px;
  flex-direction: row;
  justify-content: center;
}
.fluent-emojicoin-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet-group,
.wallet20 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.wallet-group {
  height: 39px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  z-index: 1;
}
.wallet-parent,
.wallet21 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.wallet21 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 55px;
  flex-direction: column;
  z-index: 2;
}
.wallet-parent {
  width: 332px;
  height: 46px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  position: relative;
}
.footer-start-frame2 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-xs);
}
.refer-friends-to2 {
  align-self: stretch;
  position: relative;
  height: 32px;
  flex-shrink: 0;
}
.httpsrisingcoinxyzrefant-frame,
.refer-friends-to2,
.referal-text2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.referal-text2 {
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-8xs);
}
.httpsrisingcoinxyzrefant-frame {
  width: 237px;
  flex-direction: row;
}
.frame-child6,
.frame-child7 {
  width: 11.9px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9px);
  left: calc(50% - 8px);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  height: 13.5px;
  z-index: 0;
}
.frame-child7 {
  top: calc(50% - 5.4px);
  left: calc(50% - 6.1px);
  z-index: 1;
}
.frame-parent14,
.rectangle-parent5 {
  border-radius: var(--br-3xs);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.rectangle-parent5 {
  width: 64px;
  background-color: var(--color-gray-300);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-8xs);
  position: relative;
  gap: var(--gap-4xs);
}
.frame-parent14 {
  width: 310px;
  background-color: var(--color-darkslategray-200);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-silver-200);
}
.referal-frame2 {
  width: 353px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen-200);
  height: 162px;
  gap: var(--gap-3xs);
}
.footer-frame2,
.home-referral2,
.referal-frame2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-referral2 {
  width: 344px;
  height: 112px;
}
.footer-frame2 {
  height: 110px;
}
.footer-start-frame3,
.mining-frame1 {
  align-self: stretch;
  align-items: center;
  box-sizing: border-box;
}
.footer-start-frame3 {
  border-radius: var(--br-3xs);
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  text-align: center;
  color: var(--typography-colors-light-grey);
  font-family: var(--font-inter);
}
.mining-frame1 {
  background-color: var(--color-black);
  height: 1113px;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-sm);
  text-align: left;
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
.home-body-frame1,
.mining-frame1,
.task1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-body-frame1 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.task1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 100%;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
