.notification-icon17 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b19 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count4 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet22 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet21 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon19 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header19 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.vector-icon6 {
  width: 6px;
  position: relative;
  height: 12px;
  transform: rotate(-180deg);
  display: none;
}
.icon-park-outlineright,
.icon-park-outlineright1 {
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
}
.icon-park-outlineright {
  width: 26px;
  background-color: var(--color-black);
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  transform: rotate(180deg);
}
.icon-park-outlineright1 {
  width: 282px;
  height: 36px;
  object-fit: contain;
}
.top-navigation-bar {
  align-self: stretch;
  background-color: var(--color-gray-600);
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--h5-size);
}
.trade-with-unlimited {
  position: relative;
  font-weight: 600;
}
.icon-park-outlineright3 {
  width: 39.7px;
  border-radius: var(--br-3xs);
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.top-navigation-bar1 {
  align-self: stretch;
  background-color: var(--color-gray-600);
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.sell8 {
  position: relative;
  line-height: 25.5px;
  color: var(--color-silver-100);
}
.coin-selection,
.coin-selection-wrapper,
.coin-selection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.coin-selection {
  width: 95px;
  height: 40px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.coin-selection-wrapper,
.coin-selection1 {
  justify-content: flex-end;
}
.coin-selection-wrapper {
  align-self: stretch;
  height: 33px;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen-100);
}
.coin-selection1 {
  width: 43px;
  height: 21px;
}
.galasettings-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.coin-selection-parent,
.coin-selection2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.coin-selection2 {
  width: 29px;
  height: 21px;
}
.coin-selection-parent {
  align-self: stretch;
  height: 14px;
  gap: var(--gap-8xs);
  color: var(--color-indianred-100);
}
.cryptocurrency-colorbnb-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.b21 {
  width: 87px;
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  flex-shrink: 0;
}
.coin-selection3 {
  width: 37px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.coin-selection-container,
.rsc-exchnge-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.coin-selection-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
}
.rsc-exchnge-inner {
  width: 36px;
  flex-direction: column;
}
.b22 {
  width: 74px;
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  flex-shrink: 0;
}
.rsc-exchnge,
.rsc-exchnge-child {
  width: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.rsc-exchnge {
  width: 360px;
  height: 45px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: 180px;
  z-index: 1;
}
.current-price,
.rsc-0028 {
  position: relative;
  line-height: 25.5px;
}
.rsc-0028 {
  color: var(--color-gray-100);
  white-space: pre-wrap;
}
.current-price-parent {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
  font-size: var(--font-size-sm);
  color: var(--color-lightseagreen-100);
}
.list-child {
  width: 35.4px;
  margin: 0 !important;
  position: absolute;
  top: 177px;
  left: 175px;
  height: 32px;
  object-fit: contain;
  z-index: 3;
}
.usdt24 {
  width: 65px;
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  flex-shrink: 0;
}
.coin-selection5 {
  width: 58px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.coin-selection-wrapper1 {
  width: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.balance-49 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 25.5px;
  color: var(--color-gray-100);
}
.list,
.rsc-exchnge1 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.rsc-exchnge1 {
  width: 358px;
  margin: 0 !important;
  position: absolute;
  top: 270px;
  left: 1px;
  height: 24px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  z-index: 4;
}
.list {
  align-self: stretch;
  height: 305px;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  font-size: var(--body2-regular-size);
}
.span3 {
  color: var(--color-white);
}
.rsc10 {
  color: var(--color-gray-100);
}
.estimated-balance-after-container {
  width: 267px;
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  flex-shrink: 0;
}
.content-inner,
.estimated-balance-after-trade-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.content-inner {
  align-self: stretch;
  padding: 0 var(--padding-3xs);
  text-align: right;
  color: var(--color-gainsboro);
}
.title5 {
  position: relative;
  line-height: 115%;
  text-transform: capitalize;
}
.checkbox,
.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title-wrapper {
  width: 259px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-300);
  height: 47px;
}
.checkbox {
  align-self: stretch;
  filter: var(--shadow-1);
  border-radius: var(--br-base);
  height: 105px;
  padding: var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-work-sans);
}
.cryptocurrency-colorbnb-icon2 {
  width: 26px;
  position: relative;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.coin-selection-wrapper2,
.coin-selection6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.coin-selection6 {
  width: 73px;
  height: 26px;
  gap: var(--gap-3xs);
}
.coin-selection-wrapper2 {
  align-self: stretch;
  height: 36px;
  font-size: var(--body2-regular-size);
}
.fluentdata-histogram-20-regul-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.active,
.mine,
.trade9 {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trade9 {
  gap: var(--gap-6xs);
  cursor: pointer;
}
.active,
.mine {
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.active {
  border: 1px solid var(--color-darkslateblue-100);
  height: 60px;
}
.mine {
  padding: var(--padding-8xs);
  gap: var(--gap-6xs);
  cursor: pointer;
}
.icon-parkdot {
  width: 12px;
  border-radius: var(--br-81xl);
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-parkdot,
.task {
  position: relative;
  margin-left: -5px;
}
.material-symbols-lighttask-al-parent {
  width: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  cursor: pointer;
  color: var(--color-white);
}
.friends {
  position: relative;
}
.bottom-tabs,
.friens {
  display: flex;
  align-items: center;
}
.friens {
  width: 45px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-6xs);
  cursor: pointer;
}
.bottom-tabs {
  width: 360px;
  background-color: var(--color-gray-400);
  height: 76px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini);
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-roboto);
}
.content,
.profile {
  align-items: flex-start;
}
.content {
  align-self: stretch;
  height: 655px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  color: var(--color-silver-100);
  font-family: var(--body2-regular);
}
.profile {
  width: 360px;
  height: 759px;
  gap: 21px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--h5);
}
.profile,
.trade7,
.wallet-body-frame16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-body-frame16 {
  align-self: stretch;
  height: 851px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.trade7 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
