.notification-icon13 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b16 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count3 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet16 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet15 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon14 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header14 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.use-trade-to {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.title-instruction-frame3,
.title3 {
  align-self: stretch;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
}
.title3 {
  height: 39px;
  overflow-y: auto;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--color-aliceblue);
}
.refer-friends-to1,
.referal-text1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.refer-friends-to1 {
  align-self: stretch;
  position: relative;
  height: 32px;
  flex-shrink: 0;
}
.referal-text1 {
  overflow: hidden;
  flex-direction: column;
  padding: 0 var(--padding-8xs);
}
.httpsrisingcoinxyzrefant1 {
  position: relative;
}
.httpsrisingcoinxyzrefant-container {
  width: 237px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child2,
.frame-child3 {
  width: 11.9px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9px);
  left: calc(50% - 8px);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  height: 13.5px;
  z-index: 0;
}
.frame-child3 {
  top: calc(50% - 5.4px);
  left: calc(50% - 6.1px);
  z-index: 1;
}
.frame-parent4,
.rectangle-parent2 {
  border-radius: var(--br-3xs);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.rectangle-parent2 {
  width: 64px;
  background-color: var(--color-gray-300);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-8xs);
  position: relative;
  gap: var(--gap-4xs);
}
.frame-parent4 {
  width: 310px;
  background-color: var(--color-darkslategray-200);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-silver-200);
}
.referal-frame1 {
  width: 353px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen-200);
  height: 162px;
  gap: var(--gap-3xs);
}
.footer-frame1,
.home-referral1,
.referal-frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-referral1 {
  width: 344px;
  height: 112px;
}
.footer-frame1 {
  height: 110px;
}
.coin-overview-and-transactions10,
.footer-start-frame1 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.footer-start-frame1 {
  border-radius: var(--br-3xs);
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
}
.coin-overview-and-transactions10 {
  background-color: var(--color-gray-500);
  height: 556px;
  flex-direction: column;
  padding: 0 var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-sm);
  color: var(--typography-colors-light-grey);
}
.usdt15,
.wallet-body-frame11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-body-frame11 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.usdt15 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-500);
  height: 800px;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
