.send-usdt-to {
  flex: 1;
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
}
.space {
  align-self: stretch;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 0;
  font-size: var(--font-size-smi);
}
.address {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
}
.usernmar-frame4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  z-index: 1;
}
.frame-child4 {
  width: 54px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 46px;
  z-index: 0;
}
.enter-recipient-address {
  flex: 1;
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  font-weight: 500;
}
.enter-recipient-address-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.group-icon {
  width: 18px;
  position: relative;
  height: 18px;
}
.flowbitewallet-solid,
.rectangle-parent2 {
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 2;
}
.flowbitewallet-solid {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 149px);
  height: 24px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-10xs);
  box-sizing: border-box;
}
.rectangle-parent2 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslategray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs) 0 0;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.usernmar-frame5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  z-index: 3;
}
.div27 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  font-weight: 500;
}
.fee-container,
.wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}
.fee-container {
  z-index: 3;
}
.usdt6 {
  width: 52px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 15px);
  left: calc(50% - 163px);
  font-size: var(--font-size-xl);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  color: var(--color-white);
  z-index: 4;
}
.rectangle-parent3 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-3xs) 0 0;
  position: relative;
  z-index: 4;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.send1 {
  width: 130px;
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
}
.close3,
.confirm-button5,
.frame5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close3 {
  width: 200px;
  border-radius: var(--br-xs);
  background: linear-gradient(181.41deg, #42275e, #843ad0);
  height: 54px;
}
.confirm-button5,
.frame5 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-3xs) 0;
}
.frame5 {
  height: 84px;
  flex-shrink: 0;
  box-sizing: border-box;
  z-index: 5;
}
.not-enough-coin,
.username-does-not {
  width: 133px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 70px);
  left: calc(50% - 164px);
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-indianred-100);
  text-align: left;
  display: inline-block;
  z-index: 6;
}
.username-does-not {
  width: 178px;
  top: calc(50% - 54px);
  left: calc(50% - 162px);
  z-index: 7;
}
.usdt-send-modal {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-base);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
