.notification-icon29 {
  width: 38.1px;
  position: relative;
  border-radius: var(--br-7xs);
  height: 38px;
}
.b26 {
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  -webkit-text-stroke: 0.5px #fff;
}
.notification-and-count7 {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.connect-wallet37 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  left: calc(50% - 50.3px);
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  z-index: 0;
}
.connect-wallet36 {
  width: 114px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  color: var(--color-whitesmoke-300);
}
.profile-icon32 {
  width: 38.1px;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.header32 {
  width: 360px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
}
.use-trade-to1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.title-instruction-frame7,
.title9 {
  align-self: stretch;
  align-items: flex-start;
}
.title-instruction-frame7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.title9 {
  height: 58px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--color-aliceblue);
}
.title9,
.wallet-body-frame27,
.wallet23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wallet-body-frame27 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.wallet23 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-500);
  height: 100%;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-red);
  font-family: var(--font-inter);
}
