.set-percentage-of {
  align-self: stretch;
  position: relative;
  line-height: 10px;
  font-weight: 600;
}
.enter-between-80 {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  height: 24px;
}
.enter-between-80-200-wrapper {
  flex: 1;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
}
.div146 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-whitesmoke-100);
  text-align: right;
}
.ads-frame8,
.frame-parent17,
.set-ads-percentage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent17 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 20px;
  flex-direction: row;
  padding: 0 0 var(--padding-3xs);
  gap: var(--gap-8xs);
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
}
.ads-frame8,
.set-ads-percentage {
  overflow: hidden;
}
.set-ads-percentage {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.ads-frame8 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  height: 63px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-mediumslateblue);
  font-family: var(--font-inter);
}
