.current-balance1 {
  flex: 1;
  position: relative;
  line-height: 33px;
  font-weight: 600;
}
.current-balance-title1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div154 {
  flex: 1;
  position: relative;
  line-height: 51px;
  font-weight: 600;
}
.lvl-bronze5,
.wrapper24 {
  display: flex;
  align-items: center;
}
.wrapper24 {
  width: 197px;
  flex-direction: row;
  justify-content: center;
}
.lvl-bronze5 {
  width: 100%;
  padding-left: 0.5rem;
  position: relative;
  line-height: 51px;
  font-weight: 600;
  flex-shrink: 0;
}
.description1,
.lvl-bronze-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lvl-bronze-wrapper {
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-sm);
}
.description1 {
  justify-content: space-between;
}
.balace-frame1,
.current-balance-bg1,
.current-balance-frame7 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.balace-frame1 {
  flex-direction: row;
  text-align: right;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-100);
}
.current-balance-bg1,
.current-balance-frame7 {
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.current-balance-bg1 {
  box-shadow: 2px 0 20px rgba(24, 57, 107, 0.05);
  background-color: var(--color-gray-400);
  height: 100px;
  gap: var(--gap-8xs);
}
.current-balance-frame7 {
  background-color: var(--color-gray-500);
  height: 101px;
  text-align: center;
  font-size: var(--h5-size);
  color: var(--color-lightgray);
  font-family: var(--font-inter);
}
