.current-balance-frame8 {
  align-self: stretch;
  background-color: var(--color-gray-500);
  height: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
