.reward {
  position: relative;
}
.wallet138 {
  width: 137px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fluent-emojicoin-icon23 {
  width: 35px;
  position: relative;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.div192 {
  width: 50px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.wallet139 {
  width: 98px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.notokey-icon8 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet140,
.wallet141 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wallet140 {
  width: 58px;
  gap: var(--gap-6xs);
}
.wallet141 {
  width: 74px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-300);
}
.wallet-parent25,
.wallet-parent26 {
  display: flex;
  align-items: flex-start;
}
.wallet-parent26 {
  align-self: stretch;
  height: 22px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-xs);
}
.wallet-parent25 {
  width: 289px;
  height: 68px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-8xs);
}
.footer-start-frame-inner1 {
  width: 332px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-start-frame43 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 92px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
