.profile-icon50 {
  width: 38.1px;
  height: 38px;
  z-index: 0;
}
.herbet-pere,
.profile-icon50 {
  position: relative;
}
.wallet65 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fluent-emojicoin-icon6 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet66,
.wallet67,
.wallet68 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wallet66 {
  width: 98px;
  gap: var(--gap-6xs);
}
.wallet67,
.wallet68 {
  width: 58px;
}
.wallet67 {
  gap: var(--gap-6xs);
}
.wallet68 {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-300);
}
.wallet-parent10,
.wallet-parent9 {
  display: flex;
  align-items: flex-start;
}
.wallet-parent10 {
  width: 238px;
  height: 22px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-xs);
}
.wallet-parent9 {
  width: 182px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-8xs);
  z-index: 1;
}
.lvl-gold {
  width: 68px;
  position: relative;
  display: inline-block;
}
.profile-parent,
.wallet69 {
  display: flex;
  align-items: center;
}
.wallet69 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-size: var(--font-size-xs);
}
.profile-parent {
  width: 332px;
  height: 68px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-6xs);
}
.footer-start-frame37 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 92px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
