.hugeiconschat-bot1 {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet101 {
  width: 38px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.bot-mines-for {
  position: relative;
}
.wallet102 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fluent-emojicoin-icon16 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet-parent16,
.wallet103 {
  display: flex;
  justify-content: center;
}
.wallet103 {
  height: 20px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xs);
}
.wallet-parent16 {
  width: 182px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.teenyiconstick-circle-solid2 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet-parent15,
.wallet104 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.wallet104 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 55px;
  flex-direction: column;
  z-index: 2;
}
.wallet-parent15 {
  width: 332px;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}
.footer-start-frame35 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 68px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
