.hugeiconstap-06 {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.hugeiconstap-06,
.multitap {
  position: relative;
}
.wallet98 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fluent-emojicoin-icon15 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet99 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.wallet-parent14,
.wallet100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wallet-parent14 {
  width: 182px;
  align-items: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.wallet100 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 45px;
  align-items: center;
  z-index: 2;
}
.hugeiconstap-06-parent {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-6xs);
  cursor: pointer;
}
.footer-start-frame34 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
