.mingcutead-rectangle-line-icon,
.uittelegram-alt-icon {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.uittelegram-alt-icon {
  width: 38px;
  height: 38px;
}
.wallet108 {
  width: 38px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 0;
}
.watch-ads {
  position: relative;
}
.wallet109 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fluent-emojicoin-icon17 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet-parent19,
.wallet110 {
  display: flex;
  justify-content: center;
}
.wallet110 {
  height: 20px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xs);
}
.wallet-parent19 {
  width: 182px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.wallet-parent18,
.wallet111 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.wallet111 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 55px;
  flex-direction: column;
  z-index: 2;
}
.wallet-parent18 {
  width: 332px;
  flex-direction: row;
  position: relative;
}
.footer-start-frame37 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
