.hugeiconstap-021 {
  width: 35px;
  position: relative;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.div165 {
  position: relative;
}
.wallet70 {
  flex: 1;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.frame-wrapper4,
.wallet-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wallet-wrapper6 {
  width: 329px;
  height: 22px;
  flex-direction: row;
}
.frame-wrapper4 {
  flex: 1;
  flex-direction: column;
  z-index: 0;
}
.wallet71 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -2px;
  left: 282px;
  height: 28px;
  z-index: 1;
}
.frame-parent20 {
  width: 332px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto);
}
