.frame-icon {
  width: 128px;
  position: relative;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
}
.oooooops {
  width: 359px;
  font-size: var(--font-size-5xl);
  height: 34px;
  flex-shrink: 0;
}
.click-below,
.may-be-you,
.oooooops,
.you-almost-got {
  position: relative;
  line-height: 25.5px;
  display: inline-block;
}
.you-almost-got {
  width: 292px;
}
.click-below,
.may-be-you {
  flex-shrink: 0;
}
.may-be-you {
  width: 292px;
  font-weight: 500;
  color: var(--color-gray-100);
  height: 126px;
}
.click-below {
  width: 359px;
  height: 39px;
}
.fluent-emojicoin-wrapper {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.b34 {
  width: 215px;
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  height: 24px;
  flex-shrink: 0;
}
.wrapper11 {
  width: 41px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.tablerletter-i-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.tablerletter-i-wrapper {
  width: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.b35 {
  width: 24px;
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  height: 24px;
  flex-shrink: 0;
}
.frame-parent30,
.notokey-parent {
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-parent30 {
  width: 248px;
  gap: var(--gap-11xs);
}
.confirmation-frame,
.stake-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.stake-complete {
  width: 359px;
  height: 396px;
  gap: var(--gap-8xs);
}
.confirmation-frame {
  width: 312px;
  height: 416px;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.watch-again {
  width: 130px;
  position: relative;
  letter-spacing: -1px;
  line-height: 145%;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
}
.close16 {
  width: 200px;
  border-radius: var(--br-xs);
  background: linear-gradient(181.41deg, #42275e, #843ad0);
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confirm-button22 {
  align-self: stretch;
  height: 74px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-3xs) 0;
}
.confirm-button22,
.frame20,
.modal-claiming-task-for-failed {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame20 {
  align-self: stretch;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-xl);
}
.modal-claiming-task-for-failed {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-darkslateblue-200);
  height: 549px;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-base);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
