.vector-icon14 {
  width: 34.8px;
  position: relative;
  height: 34.5px;
  z-index: 0;
}
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  width: 4.9px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 5.65px);
  left: calc(50% - 1.5px);
  height: 4.5px;
  z-index: 1;
}
.vector-icon16,
.vector-icon17 {
  width: 23.4px;
  top: calc(50% - 11.65px);
  left: calc(50% - 11.7px);
  height: 23.2px;
  z-index: 2;
}
.vector-icon17 {
  width: 4.9px;
  top: calc(50% - 5.65px);
  left: calc(50% - 1.5px);
  height: 4.5px;
  z-index: 3;
}
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  width: 23.4px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 11.65px);
  left: calc(50% - 11.7px);
  height: 23.2px;
  z-index: 4;
}
.vector-icon19,
.vector-icon20 {
  width: 4.9px;
  top: calc(50% - 5.65px);
  left: calc(50% - 1.5px);
  height: 4.5px;
  z-index: 5;
}
.vector-icon20 {
  width: 23.4px;
  top: calc(50% - 11.65px);
  left: calc(50% - 11.7px);
  height: 23.2px;
  z-index: 6;
}
.frame20,
.layer-3 {
  display: flex;
  flex-direction: column;
}
.frame20 {
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.layer-3 {
  flex: 1;
  height: 34.5px;
  align-items: center;
  justify-content: center;
}
.frame-wrapper1,
.layer-3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.layer-3-wrapper {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
  height: 50px;
}
.frame-wrapper1 {
  width: 44px;
}
.referral-count {
  position: relative;
  white-space: pre-wrap;
}
.friends {
  position: relative;
  font-size: var(--h5-size);
}
.referral-count-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-parent14,
.mined-balance-inner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent14 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mined-balance-inner {
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  justify-content: center;
}
.task-key {
  position: relative;
}
.mined-balance1,
.title11 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.mined-balance1 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.title11 {
  height: 91px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
